@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 54, 55, 56;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: #363738;
  background: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .container-custom {
    @apply w-full max-w-[1170px] mx-auto px-4 sm:px-6 lg:px-0;
  
    @apply xl:max-w-[1170px] xl:mx-auto xl:px-0;
  }
}



